mixin donntu_links(className)
	+b.A.icon-link--donntu.--grayscale(
		class=className
		href='http://donntu.org/'
		target='_blank'
		data-text=locale('donntu')
	)
	+b.A.icon-link--mportal.--grayscale(
		class=className
		href='http://masters.donntu.org/'
		target='_blank'
		data-text=locale('magister_portal')
	)