table(cellspacing='2', border='0')
	tbody
		tr(valign='middle', align='center')
			td
				// BEGIN OF PING CODE v5.1
				script(language='javascript').
					//<!--
					id="112802155341";img="count30";script="http://counter.topping.com.ua:80/cgi-bin/pinger.cgi";d=document;an=navigator.appName;rf=escape(d.referrer);w="";c="";jv="0";je="u";//-->
				script(language='javascript1.1').
					//<!--
					jv="1";je = (navigator.javaEnabled()?"y":"n");//-->
				script(language='javascript1.2').
					//<!--
					s=screen;w=s.width;an!="Netscape"?c=s.colorDepth:c=s.pixelDepth;jv="2";//-->
				script(language='javascript1.3').
					//<!--
					jv="3";//-->
				script(language='javascript').
					//<!--
					pi="";pi+="\\""+script+"?id="+id+"&img="+img+"&w="+w+"&c="+c+"&ref="+rf+"&jsv="+jv+"&jen="+je+"\"";pi="<a href=http://www.topping.com.ua/ target=_blank><img src="+pi+" width=88 height=31 border=0 alt=\"Rated by PING\"></a>";d.write(pi);//-->
				noscript
					a(href='http://www.topping.com.ua/rating/donetsk/', target='_blank')
						img(src='http://counter.topping.com.ua:80/cgi-bin/ping.cgi?112802155341;count30', alt='Rated by PING', width='88', height='31', border='0')
				// END OF PING CODE v5.1
			td
				// Rating@Mail.ru counter
				script(language='javascript').
					<!--
					d=document;var a='';a+=';r='+escape(d.referrer);js=10;//-->
				script(language='javascript1.1').
					<!--
					a+=';j='+navigator.javaEnabled();js=11;//-->
				script(language='javascript1.2').
					<!--
					s=screen;a+=';s='+s.width+'*'+s.height;
					a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//-->
				script(language='javascript1.3').
					<!--
					js=13;//-->
				script(language='javascript', type='text/javascript').
					<!--
					d.write('<a href="http://top.mail.ru/jump?from=407990" target="_top">'+
					'<img src="http://d9.c3.b6.a0.top.mail.ru/counter?id=407990;t=56;js='+js+
					a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" border="0" '+
					'height="31" width="88"><\\/a>');if(11<js)d.write('<'+'!-- ');//-->
				noscript
					a(target='_top', href='http://top.mail.ru/jump?from=407990')
						img(src='http://d9.c3.b6.a0.top.mail.ru/counter?js=na;id=407990;t=56', alt='Рейтинг@Mail.ru', width='88', height='31', border='0')
				script(language='javascript', type='text/javascript').
					<!--
					if(11<js)d.write('--'+'>');//-->
				// // Rating@Mail.ru counter
			td
				// bigmir)net TOP 100
				a(href='http://top.bigmir.net/show/science/', target='_blank')
					script(language='javascript').
						<!--
						bmQ='<img src=http://c.bigmir.net/?s38404&t5'
						bmD=document
						bmD.cookie="b=b"
						if(bmD.cookie)bmQ+='&c1'
						//-->
					script(language='javascript1.2').
						<!--
						bmS=screen;bmQ+='&d'+(bmS.colorDepth?bmS.colorDepth:bmS.pixelDepth)+"&r"+bmS.width;
						//-->
					script(language='javascript').
						<!--
						bmF = bmD.referrer.slice(7);
						((bmI=bmF.indexOf('/'))!=-1)?(bmF=bmF.substring(0,bmI)):(bmI=bmF.length);
						if(bmF!=window.location.href.substring(7,7+bmI))bmQ+='&f'+escape(bmD.referrer);
						bmD.write(bmQ+" border=0 width=88 height=31 alt='bigmir TOP100'>");
						//-->
			td
				// Openstat
				span#openstat2124156
				script(type='text/javascript').
					var openstat = { counter: 2124156, image: 5045, next: openstat }; document.write(unescape("%3Cscript%20src=%22http" +
					(("https:" == document.location.protocol) ? "s" : "") +
					"://openstat.net/cnt.js%22%20defer=%22defer%22%3E%3C/script%3E"));
				// /Openstat
				// LiveInternet counter
				script(type='text/javascript').
					<!--
					document.write("<a href='//www.liveinternet.ru/click' "+
					"target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
					escape(document.referrer)+((typeof(screen)=="undefined")?"":
					";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
					screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
					";"+Math.random()+
					"' alt='' title='LiveInternet' "+
					"border='0' width='1' height='1'><\\/a>")
					//-->
					// /LiveInternet