a.menu-button.js-buttom-page(href='#summary')= locale('summary')
a.menu-button.js-buttom-page(href='#biography')= locale('biography')
a.menu-button.js-buttom-page(href='#abstract')= locale('abstract')
a.menu-button.js-buttom-page(href='#library')= locale('library')
a.menu-button.js-buttom-page(href='#links')= locale('links')
a.menu-button.js-buttom-page(href='#searching_report')= locale('searching_report')
a.menu-button.js-buttom-page(href='#individual')= locale('individual')
