a.menu-button.js-buttom-page(href='#summary')= locale('summary')
a.menu-button.js-buttom-page(href='#summary')= locale('summary')
a.menu-button.js-buttom-page(href='#summary')= locale('summary')
a.menu-button.js-buttom-page(href='#summary')= locale('summary')
a.menu-button.js-buttom-page(href='#summary')= locale('summary')
