h1= locale('abstract')
p.comment= locale('abs_comment')

h2= locale('content')
ul.content-list
	li
		+link('#abs_introduction', 'introduction')
	li
		+link('#abs_theme_urgency', 'abs_theme_urgency')
	li
		+link('#abs_goals', 'abs_goals')
	if lang != 'en'
		li
			+link('#abs_review', 'abs_review')
			ul
				li
					+link('#abs_review_int', 'abs_review_int')
				li
					+link('#abs_review_nat', 'abs_review_nat')
				li
					+link('#abs_review_loc', 'abs_review_loc')
	li
		+link('#abs_conclusion', 'conclusion')
	li
		+link('#abs_references', 'references')

h2#abs_introduction= locale('introduction')

p!= locale('abs_p1_1')
p!= locale('abs_p1_2')
p!= locale('abs_p1_3')
p!= locale('abs_p1_4')

h2#abs_theme_urgency= locale('abs_theme_urgency')

p!= locale('abs_p2_1')

h2#abs_goals= locale('abs_goals')

p!= locale('abs_p3_1')
p!= locale('abs_p3_2')
p!= locale('abs_p3_3')

if lang != 'en'
	h2#abs_review= locale('abs_review')

	p!= locale('abs_p4_1')
	p!= locale('abs_p4_2')
	p!= locale('abs_p4_3')

h2#abs_references= locale('references')
ol
	li#abs_link1 Кириллов  В.В. Архитектура  базовой ЭВМ. – СПб: СПбГУ ИТМО, 2010. – 144 с.

	li#abs_link2 Отчет Google об уязвимостях Meltdown и Spectre. [Электронный ресурс]. – официальный сайт – #[+link('https://developers.google.com/web/updates/2018/02/meltdown-spectre')]

	li#abs_link3 Подробный отчет об уязвимостях Meltdown. [Электронный ресурс]. – pdf документ – #[+link('https://meltdownattack.com/meltdown.pdf')]

	li#abs_link4 Подробный отчет об уязвимостях Meltdown. [Электронный ресурс]. – pdf документ – #[+link('https://spectreattack.com/spectre.pdf')]
